<div class="row col-md-10 col-md-offset-1">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1><%= t "subjects.list_subject" %></h1>
    </div>
    <div class="panel-body">
      <%= render @subjects %>
    </div>
  </div>
</div>
