<div class="row">
  <div class="col-md-8">
    <p class="score-label">
    <% if object.checked? %>
      <%= t("admin.labels.total_score", score: object.score_exam) %></p>
    <% end %>
    <%= render "mark_exam_form", object: object %>
  </div>
</div>
