* {
  margin: 0;
}

html, body {
  height: 100%;
  min-height: 100%;
}

#wrapper {
  background: #fff;
  min-height: 100%;
}

.container{
  margin-bottom: 20px;
  min-height: 500px;
  position: relative;
  h1 {
    font-size: 25px;
    text-align: center;
  }
}
