.exam {
  .created_date, .subject {
    width: 20%;
  }

  .status, .duration, .spent_time {
    width: 10%;
  }

  .question_number {
    width: 15%;
  }

  .score {
    width: 10%;
  }

  .action {
    width: 5%;
  }

  .radio {
    padding-left: 20px;
    font-weight: normal;
  }

  .check_box {
    font-weight: normal;
    display: block;

    .ck {
      margin-right: 5px;
    }
  }

  #clock {
    font-size: 16px;
    font-weight: bold;
    border: none !important;
    background-color: inherit !important;
  }

  .timer {
    border: 1px solid #E6E6E6;
    background-color: #FFFFCC;
    float: right;
    position: fixed;
    right: 70px;
    top: 70px;
  }

  .btn-submit {
    margin: 10px;
  }
}
