#question {
  h1 {
    font-size: 20px;
    text-align: center;
  }

  .space-top {
    margin-top: 10px;
  }

  .space-top-remove {
    margin-top: 5px;
  }

  .answer-field-box {
     margin-top: 10px;
     margin-bottom: 10px;
  }
}
